$Color-Body: rgb(252, 250, 235);
$Color-Body-Dark: #FFF7E3;
$Color-Main: #f8f8f8;
$Color-Header: #F1F0E8;

$Color-Border:rgba(94, 97, 98, 0.75);
$Color-Font:#343434;
$Color-Background: rgba(101, 171, 225, 0.5) ;
$Color-White: #FFF;

$Color-Box-Shadow: #c2c0b5;

$Color-Options: #ECE9DD;