.Input-Container{
    margin: 1rem;
    &__Input{
        
        width: 4rem;
        @include mx(.5rem);
    }
}


.container-range{
    display: flex;
    justify-content: center;
    align-items: center;
    &__input{
        
        background-color: #c8c8c8;
        height: .5rem;
        margin: 0 1rem;
    }

    &__increment,&__decrement{
        font-weight: bold;
    }

    &__increment:hover,
    &__decrement:hover{
        
        color: black !important;
        background-color: white !important;
        cursor: pointer;
    }

    &__decrement{
        font-size: 2rem;
        margin-bottom: .4rem;
    }
    &__increment{
        font-size: 1.3rem;
  
    }
}
input[type=range]{
    appearance: none;
    width: 100%;
   
}

input[type=range]:focus{
    border: none;
    box-shadow: none;
}

input[type=range]::-webkit-slider-thumb{
    appearance: none;
    height: 1rem !important; 
     width: 0.95rem !important; 
     border: none !important; 
     border-left: 0.4rem solid transparent !important; 
    border-right: 0.4rem solid transparent !important;
    border-top: 0.75rem solid gray !important;
    border-radius: 25% !important;
    background-color: transparent !important;
}
